In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import OrdinalEncoder
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [ ]:
dftrain = pd.read_excel('/home/jainish/Downloads/Data_Train (1).xlsx')
df_train=dftrain.copy()
dftrain.head()

Columns present in the dataframe.

In [ ]:
dftrain.columns

Number of rows and columns in the dataframe.

In [ ]:
dftrain.shape

So, the dataframe train has 6019 rows and 12 columns.

Now, Let's divide the dataframe into two dataframes :
numF - containing all the numerical features
catF - containing all the categorial features

In [ ]:
numF=dftrain.select_dtypes(include=[np.number])
numF.head()

In [ ]:
catF=dftrain.select_dtypes(include=[np.object])
catF.head()

**Categorial Data Analysis**

Now, First we'll analyse the categorial data. In the categorial dataframe, first let's analyse Name.

Since the Name of the car would not help in estimating the price but the Company name would. So, we'll extract the company name from the name of the car.

In [ ]:
dftrain['Name'].unique().size

So, there are 1876 unique names in the dataframe.

Now, we'll split the Name column into sub-strings and pick the first substring as the name of the company since all car names start with their company names.

In [ ]:
t=dftrain['Name'].str.split()
compName=t.str[0]
dftrain['Comp_Name']=pd.Series(compName)
dftrain.head()

Let's check whether we have got all the names correct.

In [ ]:
catF.insert(column='Comp_Name',value=compName,loc=1)
catF['Comp_Name'].unique()

Observations:



1.   We don't know company names like Land, Force and Mini.
2.   Company names like Isuzu appear twice.

So, Let's fix that.

In [ ]:
cn=catF['Comp_Name'].values
cn

In [ ]:
dftrain.loc[dftrain['Comp_Name']=='Land']

In [ ]:
for i in range(dftrain.shape[0]):
  if (cn[i]=='Land'):
    cn[i]='Land Rover'
  if (cn[i]=='ISUZU'):
    cn[i]='Isuzu'
  if (cn[i]=='Mini'):
    cn[i]='Mini Cooper'
  if (cn[i]=='Force'):
    cn[i]='Force One LX'

In [ ]:
dftrain=dftrain.drop('Comp_Name',axis=1)
catF=catF.drop('Comp_Name',axis=1)

In [ ]:
dftrain.insert(column='Comp_Name',value=cn,loc=1)
catF.insert(column='Comp_Name',value=cn,loc=1)

Now that we have extracted the Company names , let's analyse it.

In [ ]:
dftrain['Comp_Name'].value_counts().plot(kind='bar')

In [ ]:
dftrain.boxplot(by ='Comp_Name', column =['Price'], grid = False ,figsize=(23,5))

Observations from above three plots: 
1. Companies like Maruti and Hyundai produce a large amount of cars with prices on the cheaper side (mostly under 10 lakhs). 
2. Companies like Bentley and Lamborghini produce very few amount of cars but the prices are very high (approx 1.2 cr for Lamborghini and 60 lakhs for Bentley). 
3. Other companies like Land Rover, Jaguar and Porsche produce more cars compared to Lamborghini and Bentley but the prices remain high (for Land Rover as high as 1.6 cr , for Jaguar upto 1 cr and for Porsche upto 80 lakhs)

Now, Let's analyse Locations.

In [ ]:
dftrain['Location'].value_counts().plot(kind='bar')

In [ ]:
dftrain.boxplot(by ='Location', column =['Price'], grid = False ,figsize=(23,5))

Observations: 
1. Hyderabad and Mumbai produce the most amount of cars. 
2. Coimbatore and Banglore have the most expensive cars whereas Jaipur and Kolkata have the cheapest ones.

In [ ]:
dftrain['Fuel_Type'].value_counts().plot(kind='bar')

In [ ]:
plt.bar('Fuel_Type','Price',data=dftrain)

In [ ]:
dftrain.boxplot(by ='Fuel_Type', column =['Price'], grid = False ,figsize=(23,5))

Observations:
1. Almost all cars are either Diesel or Petrol cars with number of Diesel cars slightly leading.
2. Price of Diesel are the highest and LPG cars the cheapest.

In [ ]:
dftrain['Transmission'].value_counts().plot(kind='bar')

In [ ]:
plt.bar('Transmission','Price',data=dftrain)

In [ ]:
dftrain.boxplot(by ='Transmission', column =['Price'], grid = False ,figsize=(13,5))

Observations: 
1. Manual cars are much larger in number than Automatic cars. 
2. Price of Automatic cars are much higher than Manual Cars.

In [ ]:
dftrain['Owner_Type'].value_counts().plot(kind='bar')

In [ ]:
plt.bar('Owner_Type','Price',data=dftrain)

In [ ]:
dftrain.boxplot(by ='Owner_Type', column =['Price'], grid = False ,figsize=(13,5))

Observations: Most cars are first hand which are also the most expensive.

Now, let's analyse Mileage.

In [ ]:
dftrain['Mileage'].value_counts().plot(kind='bar',figsize=(20,10))

In [ ]:
dftrain['Mileage']

We can't make a definite conclusion from the above plot since Mileage is a numerical features stored as a categorial feature.

In [ ]:
t=dftrain['Mileage'].str.split()
mylg=t.str[0]
mylgCount=t.str[1]
mylgCount.value_counts()

In [ ]:
dftrain.insert(column='Mileage_Num',value=mylg,loc=8)
dftrain.head()

In [ ]:
numF.insert(column='Mileage_Num',value=mylg,loc=3)
numF

Here, we have extracted Mileage_Num from Mileage and stored it as a numerical feature.

We do the same thing with features Engine, Power.

In [ ]:
dftrain['Engine'].value_counts().plot(kind='bar',figsize=(20,10))

In [ ]:
dftrain['Engine']

We can't make a definite conclusion from the above plot since Mileage is a numerical features stored as a categorial feature.

In [ ]:
t=dftrain['Engine'].str.split()
engNum=t.str[0]
dftrain.insert(column='Engine_Num',value=engNum,loc=10)
numF.insert(column='Engine_Num',value=engNum,loc=4)

In [ ]:
dftrain.head()

In [ ]:
numF.head()

In [ ]:
dftrain['Power'].value_counts().plot(kind='bar',figsize=(20,10))

In [ ]:
dftrain['Power']

In [ ]:
t=dftrain['Power'].str.split()
power=t.str[0]
dftrain.insert(column='Power_Num',value=power,loc=12)
numF.insert(column='Power_Num',value=power,loc=5)

In [ ]:
dftrain.head()

In [ ]:
numF.head()

In [ ]:
dftrain.isnull().sum()

In [ ]:
dftrain=dftrain.fillna(0)
numF=numF.fillna(0)

In [ ]:
dftrain.isnull().sum()

The numerical features extracted from the categorical features are still stored as strings, so we'll convert them to float values.

In [ ]:
dftrain['Mileage_Num']=dftrain['Mileage_Num'].astype(float)
dftrain['Engine_Num']=dftrain['Engine_Num'].astype(float)

You can notice that one of the above line is commented. when we uncomment that line following error is displayed: ValueError: could not convert string to float: 'null' So, let's try to fix that.

For that, we'll first see which columns have the 'null' values. And then, equate them to 0.

In [ ]:
dftrain.loc[dftrain['Power_Num']=='null']

In [ ]:
numF.loc[numF['Power_Num']=='null']

In [ ]:
dftrain.loc[dftrain['Power_Num']=='null','Power_Num']=0
numF.loc[numF['Power_Num']=='null','Power_Num']=0
dftrain.loc[dftrain['Power_Num']=='null']

In [ ]:
numF.loc[numF['Power_Num']=='null']

In [ ]:
dftrain['Power_Num']=dftrain['Power_Num'].astype(float)

In [ ]:
dftrain['Power_Num'].unique()

In [ ]:
dftrain.head()

In [ ]:
numF.head()

### Numerical Data Analysis
Let's check the corelation between various features of the dataset.

In [ ]:
dftrain.corr()

In [ ]:
sns.heatmap(dftrain.corr())

In [ ]:
sns.pairplot(dftrain,diag_kind='kde',kind='scatter')

Observations: 
1. Year by year, cars are becoming more expensive. 
2. More is the power, better is the engine and more expensive is the car.

Now, let's analyse our target feature 'Price' and its relationship with all other numerical features.

In [ ]:
sns.distplot(dftrain['Price'])

In [ ]:
sns.jointplot(x='Power_Num',y='Price',data=dftrain,kind='reg')

In [ ]:
sns.jointplot('Engine_Num','Price',data=dftrain,kind='reg')

In [ ]:
sns.jointplot('Year','Price',data=dftrain,kind='reg')

In [ ]:
sns.jointplot('Mileage_Num','Price',data=dftrain,kind='reg')

In [ ]:
sns.jointplot('Seats','Price',data=dftrain,kind='reg')

In [ ]:
sns.jointplot('Kilometers_Driven','Price',data=dftrain,kind='reg')

Now,preparing our categorical features to be inserted into the LGBMRegressor model.

In [ ]:
df_test = pd.read_excel('/home/jainish/Downloads/Data_Test (1).xlsx')

In [ ]:
df_train.shape, df_test.shape

In [ ]:
df_train.duplicated().sum(), df_test.duplicated().sum()

Now, Removing unwanted data from data set.

In [ ]:
df_train = df_train[df_train['Kilometers_Driven'] < 700000]
df_train = df_train[df_train['Kilometers_Driven'] > 999]
df_train = df_train[df_train['Fuel_Type'] != 'Electric']
df_train = df_train[df_train['Name'] != 'Ambassador Classic Nova Diesel']
df_train = df_train[df_train['Name'] != 'Lamborghini Gallardo Coupe']
df_train = df_train[df_train['Name'] != 'Force One LX 4x4']
df_train = df_train[df_train['Name'] != 'Force One LX ABS 7 Seating']
df_train = df_train[df_train['Name'] != 'Smart Fortwo CDI AT']

In [ ]:
df = df_train.append(df_test, ignore_index=True, sort=False)

In [ ]:
df['Car_Age'] = 2019 - df['Year']

In [ ]:

df['Mileage'] = df['Mileage'].apply(lambda x : str(x).split(' ')[0]).astype(float)
df['Engine'] = df['Engine'].apply(lambda x : str(x).split(" ")[0]).astype(float)
df['Power'] = df['Power'].replace('null bhp','0 bhp').apply(lambda x : str(x).split(' ')[0]).astype(float)
df['Seats'] = df['Seats'].fillna(5)
df['Year'] = df['Year'].astype('category')
df['Location'] = df['Location'].astype('category')
df['Fuel_Type'] = df['Fuel_Type'].astype('category')
df['Transmission'] = df['Transmission'].astype('category')
df['Owner_Type'] = df['Owner_Type'].astype('category')
df['Car_Comp_Name'] = df['Name'].apply(lambda x: ' '.join(x.split(' ')[:2]))
df['Engine'] = df.groupby(['Car_Comp_Name']).transform(lambda x: x.fillna(x.median()))['Engine']
df['Power'] = df.groupby(['Car_Comp_Name']).transform(lambda x: x.fillna(x.median()))['Power']
df['Car_Brand'] = df['Name'].apply(lambda x: x.split(' ')[0])

In [ ]:
agg_func = {
        'Location' : ['count'],
        'Mileage' : ['mean'],
        'Power' : ['mean'],
        'Engine' : ['mean'] }
    
agg_df = df.groupby(['Car_Comp_Name']).agg(agg_func)
agg_df.columns = ['_'.join(col).strip() for col in agg_df.columns.values]
agg_df.reset_index(inplace=True)
    
df = pd.merge(df, agg_df, on='Car_Comp_Name', how='left')

In [ ]:
df.drop(['Name','Car_Comp_Name','Car_Brand'], axis=1, inplace=True)
train_df = df[df['Price'].isnull()!=True]
test_df = df[df['Price'].isnull()==True]
test_df.drop('Price', axis=1, inplace=True)
train_df.shape, test_df.shape

In [ ]:
train_df['Price'] = np.log1p(train_df['Price'])
X = train_df.drop(labels=['Price'], axis=1)
y = train_df['Price'].values

Split dataset into random train and test subsets using train_test_split model.

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_cv, y_train, y_cv = train_test_split(X, y, test_size=0.25, random_state=1)
X_train.shape, y_train.shape, X_cv.shape, y_cv.shape

In [ ]:
from math import sqrt 
from sklearn.metrics import mean_squared_log_error

Light GBM is a fast, distributed, high-performance gradient boosting framework based on decision tree algorithm, used for ranking, classification and many other machine learning tasks

In [ ]:
import lightgbm as lgb
train_data = lgb.Dataset(X_train, label=y_train)
test_data = lgb.Dataset(X_cv, label=y_cv)

param = {'objective': 'regression',
         'boosting': 'gbdt',  
         'metric': 'l2_root',
         'learning_rate': 0.05, 
         'num_iterations': 1000,
         'num_leaves': 30,
         'max_depth': -1,
         'min_data_in_leaf': 4,
         'bagging_fraction': 0.78,
         'bagging_freq': 1,
         'feature_fraction': 0.65,
         }

lgbm = lgb.train(params=param,
                 verbose_eval=100,
                 early_stopping_rounds=50,
                 train_set=train_data,
                 valid_sets=[test_data])

y_pred_lgbm = lgbm.predict(X_cv)
print('RMSLE:', sqrt(mean_squared_log_error(np.expm1(y_cv), np.expm1(y_pred_lgbm))))

Showning above Root Mean Squared Logarithmic Error

In [ ]:
feature_imp = pd.DataFrame(sorted(zip(lgbm.feature_importance(), X.columns), reverse=True)[:15], 
                           columns=['Value','Feature'])
plt.figure(figsize=(20, 10))
sns.barplot(x="Value", y="Feature", data=feature_imp.sort_values(by="Value", ascending=False))
plt.title('LightGBM Features')
plt.tight_layout()
plt.show()

In [ ]:
Xtest = test_df

LGBMRegressor Model

In [ ]:
from sklearn.model_selection import KFold
from lightgbm import LGBMRegressor
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error
from math import sqrt

errlgb = []
errr2=[]
y_pred_totlgb = []

fold = KFold(n_splits=15, shuffle=True, random_state=42)

for train_index, test_index in fold.split(X):
    X_train, X_test = X.loc[train_index], X.loc[test_index]
    y_train, y_test = y[train_index], y[test_index]

    param = {'objective': 'regression',
         'boosting': 'gbdt',  
         'metric': 'l2_root',
         'learning_rate': 0.05, 
         'num_iterations': 1000,
         'num_leaves': 30,
         'max_depth': -1,
         'min_data_in_leaf': 4,
         'bagging_fraction': 0.78,
         'bagging_freq': 1,
         'feature_fraction': 0.65
         }

    lgbm = LGBMRegressor(**param)
    lgbm.fit(X_train, y_train, eval_set=[(X_test, y_test)], verbose=0, early_stopping_rounds=50)

    y_pred_lgbm = lgbm.predict(X_test)
    rmsle=sqrt(mean_squared_log_error(np.expm1(y_test), np.expm1(y_pred_lgbm)))
    r2score=r2_score(y_test, y_pred_lgbm)
    print("RMSLE LGBM: ", rmsle,"\tR2 Score:",r2score)
    errlgb.append(rmsle)
    errr2.append(r2score)
    p = lgbm.predict(Xtest)
    
    y_pred_totlgb.append(p)

Showing RMSLE and R2 Score

In [ ]:
print("RMSLE: ",np.mean(errlgb) ,"\tR2: " ,np.mean(errr2))

In [ ]:
lgbm_final = np.expm1(np.mean(y_pred_totlgb,0))

In [ ]:
df_sub = pd.DataFrame(data=lgbm_final, columns=['Price'])
writer = pd.ExcelWriter('Output.xlsx', engine='xlsxwriter')
df_sub.to_excel(writer,sheet_name='Sheet', index=False)
writer.save()

In [ ]:
df_sub.shape

In [ ]:
df_sub.head()